h4{background-color: thistle;}
body{background-color: lightblue;}
ol{background-image: url('testP.jpg');}
h1{color: blue;}
img{border: 2px solid rgb(116, 96, 96); border-radius: 20px; margin-left: 40%;}